body {
	padding: 0 15%;
	
	font-family: 'Press Start 2P', monospace;
	background-color: #000;
	color: #33ff66; /* Green */

}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

header {
	text-align: center;
	padding: 20px 0;

}

section {
	margin: 20px 0 60px 0;
}

h1 {
	margin: 10px 0 25px 0;
	font-size: 38px;
	font-weight: bold;
}

h2 {
	margin: 30px 0 15px 0;
	font-size: 28px;
	font-weight: bold;
	line-height: 36px;
	text-transform: uppercase;
}

h3 {
	margin: 30px 0 15px 0;
	font-size: 22px;
	font-weight: bold;
	line-height: 30px;
	text-transform: uppercase;
}

h4 {
	margin: 20px 0 6px 0;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;

}

p {
	margin: 5px 5px 15px 10px;
	font-size: 16px;
	line-height: 20px;
}

li {
	line-height: 20px;
}

li * {
  padding-left: 2em;
  text-indent: -1em;
}

li:before {
	display: block;
	float: left;
	content: ">";
	width: 1em;
	padding-right: 5px;
}

nav {
	margin: 10px 0;

}

main {
	padding: 0 3%;

}

.about-text {
	float: right;
	width: 70%;
}

.about-image {
	float: left;
	width: 30%;
}

.portfolio-image {
	margin: 0 0 10px 15px;
	width: 40%;
	float: right;
}

.date {
	padding: 0;
	font-style: italic;
	font-size: 12px;
}

footer {
	padding: 30px 0;
	text-align: center;
}

a {
	text-decoration: none;
}

a:visited {
	color: blue;
}

a:hover {
	color: white;
	font-style: italic;
}

#page-about {
	display: block;
}

#page-portfolio {
	display: none;
}

#nav-about {
	text-decoration: underline;
}
