body {
	padding: 0 15%;
	font-family: 'Press Start 2P', monospace;
	background-color: #000;
	color: #33ff66; /* Green */
}

header {
	text-align: center;
	padding: 20px 0;
}

h1 {
	font-size: 32px;
	font-weight: bold;
}

nav {
	margin: 10px 0;
}

main {
	padding: 0 3%;
}

footer {

}